<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layouts :: header">
    <title>
        Project management
    </title>
</head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">

    <h3>Main dashbord</h3>
    <hr>
    <h4>Current project</h4>
    <div class="row">
        <div class="col-md-6">

            <table class="table table-border table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Project name</th>
                    <th>Project stage</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projectsList}">
                    <td th:text="${project.name}"
                        data-toggle="tooltip" data-placement="bottom" th:title="${project.description}">
                    </td>
                    <td th:text="${project.stage}"></td>
                </tr>
                </tbody>
            </table>
        </div>



        <div class="col-md-4">
            <canvas id="myDoughCHart" height="60" width="60"></canvas>

            <script>
                const charData = "[[${projectStatusCnt}]]";
            </script>

        </div>

    </div>
</div>


<div class="container">
    <hr>
    <h4>Employees</h4>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-border table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email Address</th>
                    <th>Number of Projects</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="emp : ${employeesList}">
                    <td th:text="${emp.firstName}"></td>
                    <td th:text="${emp.lastName}"></td>
                    <td th:text="${emp.email}"></td>
                    <td th:text="${emp.projectCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="layouts :: footer"></footer>

<script type="text/javascript" th:src="@{js/myChart.js}"></script>

</body>
</html>